<div class="row" ng-click="onTranslationClick()">
	<div class="col-sm-5 col-md-offset-4"
		style="background-color: #CFC6F2; border-radius: 25px;">
		<div class="row">
			<div class="col-md-offset-1">
				<p>{{translation.exprToTranslate}}</p>
				<p>{{translation.exprTranslated}}</p>
			</div>
		</div>
	</div>
</div>
<div ng-if="clicked == true">
	<div class="col-sm-8 col-md-offset-3">
		<img width="300px" src="http://ageheureux.a.g.pic.centerblog.net/coucou_002.jpg" /> 
		<img width="300px" src="http://ageheureux.a.g.pic.centerblog.net/coucou_002.jpg" />
	</div>
</div>