<div class="container" ng-controller="languagesController">
  <div class="row" ng-controller="myTranslationsController">
        <div>
		    <div class="col-md-offset-3">
			    <div class="col-sm-3">
					<select class="form-control" ng-init="getAllLanguages()"
						id="languageSelectFrom" ng-model="languageFrom"
						ng-options="language for language in availableLanguages">
					</select>
				</div>
				<div class="col-sm-1" style="text-align:center">
					<span class="glyphicon glyphicon-arrow-right"> </span>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="languageSelectFrom"
						ng-model="languageTo"
						ng-options="language for language in availableLanguages">
					</select>
				</div>
				</div>
		      <button id="buttonDisplayAction"  class="btn btn-second btn-md" 
		      		  ng-click="retrieveMyEntityvideos(languageFrom, languageTo)">
		      		  Show
		      </button>
      </div>
      <br>
      <div class="row">
      <div class="col-md-11">
		<div ng-if="entityVideosDisplayed" class="col-md-offset-1 col-md-2" ng-repeat="entityVideo in myEntityVideos">
		      	<div>
		      		<img style="cursor: pointer;" ng-click="retrieveMyTranslationsOfAnEntityVideo(languageFrom, languageTo, entityVideo)" width="200px" height="300px" src="{{entityVideo.poster}}"/>
		      	</div>
		      	<div>{{entityVideo.name}} </div>
	    </div>
 		<div ng-if="!entityVideosDisplayed" class="col-md-4 col-md-offset-4" ng-repeat="userTranslation in userTranslations">
			<ng-trans-entity index="{{$index}}" translation="{{userTranslation}}"
					 isSavable="false"></ng-trans-entity>
			<br/>
		</div>
     </div>
     </div>
  </div>
</div>
