<div class="row" ng-controller="signupController">
  <div class="col-sm-5 col-md-offset-4">
    <font color="white">Login:</font> <br> 
    <input ng-model="login" type="text" name="login"><br> 
    <font color="white">Email:</font> <br> 
    <input ng-model="email" type="email" name="email"><br> 
    <font color="white">Password:</font><br> 
    <input ng-model="password" type="password" name="password">
    <br>
    <button value="Register" ng-click="submitUserDatas()">Register</button>
    <br>
  </div>
</div>
