<div id="trans" ng-controller="translationController" ng-init="translateRequest()">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-offset-4" ng-controller="languagesController">
		<table>
		  <tr>
		    <td>
		      <select ng-init="getAllLanguages()"
			      id="languageSelectFrom" ng-model="languageFrom"
			      ng-options="language for language in availableLanguages">
		      </select>
		      <span class="glyphicon glyphicon-arrow-right">
		      </span>
		      <select
			 id="languageSelectFrom" ng-model="languageTo"
			 ng-options="language for language in availableLanguages">
		      </select>
		    </td>
		  </tr>
	
		  <tr>
		    <td><input class="inputWordToTranslate" type="text"
			       id="wordToTranslateInput" ng-model="exprToTranslate"></td>
		    <td>
		      <button id="buttonDisplayAction" ng-click="setTranslationUrl(languageFrom, languageTo, exprToTranslate)">Translate</button>
		    </td>
		  </tr>
		</table>
      </div>
    </div>

    <div>
      <div ng-if="translations.length > 0 && !isLoadingFromServer()"
	   ng-repeat="translation in translations" ng-animate="'translation'">
	<div>
	  <hr>
	  <ng-trans-entity index="{{$index}}" translation="{{translation}}" isSavable="true"></ng-trans-entity>
	</div>
      </div>
      <div class="row">
	<div class="col-sm-5 col-md-offset-5" ng-if="isLoadingFromServer()">
	  <img src="images/loaderGrey.gif" width="40px" />
	</div>
      </div>
      <div class="row">
	<div class="col-sm-5 col-md-offset-5" ng-if="translations.length == 0 && !isLoadingFromServer()">
	  <font color="white">No translation found for the entry</font>
	</div>
      </div>
    </div>
  </div>
</div>
